[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
nba-api = "*"
psycopg2-binary = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.12"
